= form_for @merchandise do |f|
  = f.label :title
  = f.text_field :title
  = f.label :description
  = f.text_area :description, size: "20x5"
  = f.label "What organization would you like to donate a portion of the proceeds to?"
  = f.select :organization_id, Organization.all.collect {|o| [ o.name, o.id]}
  = f.label "Upload photo"
  = f.file_field :pic1
  = f.label "Upload photo"
  = f.file_field :pic2
  = f.label "Upload photo"
  = f.file_field :pic3
  = f.check_box :agree
  = f.label :agree, "I agree to complete this transaction through the Connect 2 Good Marketplace."
  %br
  = f.submit "Sell your item", class: "btn"
