= form_for @merchandise do |f|
  = f.label :title
  = f.text_field :title
  = f.label :description
  = f.text_field :description
  = f.label "Upload photo"
  = f.file_field :pic1
  = f.label "Upload photo"
  = f.file_field :pic2
  = f.label "Upload photo"
  = f.file_field :pic3
  = f.label "I agree to complete this transaction through the Connect 2 Good Marketplace."
  = f.submit
