= merch_search_bar "What are you shopping for?"

- @merchandises.each do |item|
  =row :card do
    %h3== #{item.title} #{number_to_currency(item.price)}
    %p== #{item.description}
    %p= Organization.find(item.organization_id).name
    =row :images do
      =link_to item.pic1.url(:full) do
        =image_tag item.pic1.url(:thumb)
      =link_to item.pic2.url(:full) do
        =image_tag item.pic2.url(:thumb)
      =link_to item.pic3.url(:full) do
        =image_tag item.pic3.url(:thumb)
    =row :buttons do
      = sold(item)
      

.paginate.text-center
  = will_paginate @merchandises, renderer: FoundationPagination::Rails
