.view-page
  .large-3.small-1.columns
    %p
      \
  .large-6.small-10.columns
    %div
      .row
        %h2 Sign up
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          = f.error_notification
          .form-inputs
            = f.input :name, :required => false, class: "search"
            = f.input :email, :required => true, :autofocus => true, class: "search" 
            = f.input :password, :required => true, class: "search"
            = f.input :password_confirmation, :required => true, class: "search"
          .form-actions
            = f.button :submit, "Sign up", class: "button"
        = render "devise/shared/links"
  .large-3.small-1.columns
    %p
      \
