
= form_for @organization do |f|
  - if current_user.try(:admin?)
    = f.label "Organization Representative"
    = f.number_field :owner_id, :placeholder => "user's id #"
    / prefer that :owner_id field be a search field where admin could search through existing users and select one as the organization's owner
    / = f.search_field :owner_id
  = f.label "Organization Name"
  = f.text_field :name
  = f.label "Organization Description"
  = f.text_area :description
  = f.label "Donation Handler's Email"
  = f.text_field :email
  = f.label "Street Address"
  = f.text_area :street
  = f.label "City"
  = f.text_area :city
  = f.label "State"
  = f.text_area :state
  = f.label "Zip Code"
  = f.text_area :zip
  = f.label :image
  = f.file_field :image
  = f.submit