.view-page
  %div
    .row.large-12.columns
      .large-4.columns
        %h3 Administrator Dashboard
        %p This is your command center! From here you can create and edit organizations, as well as mark them as active or inactive. If you would like to create or edit a specific organization's needs, you may do so from the organization's main page.
        .org-create
          = render 'form'
          .button Create New Organization
        
        .row.happy#numbers
          %h6= "Total Organizations: #{@organizations.count}"
          %span.happy.large3.columns
            %h6 
              active: 
              %span.pending-num= @active
              %br
              inactive:
              %span.pending-num= @organizations.count - @active
          %h6= link_to "Offers For All Organizations: #{@offers.count}", offers_path
          .row.happy
            %canvas#offerTimeChart
          .large-12.columns
            %h6 
              %span.pending-color pending: 
              %span.pending-num= @pending
            %h6 
              %span.denied-color declined: 
              %span.denied-num= @denied
            %h6 
              %span.accepted-color accepted:
              %span.accepted-num= @accepted
          .row
            %canvas#offerStatusChart
        / = form_for [@organization, @need], remote: true do |f|     
        /   %div#need_form
        /     %h4 List a new need:
        /     = f.select :category, options_for_select(["electronics","furniture","clothing","other"], @need.category)
        /     = f.label :description
        /     = f.text_area :description
        /     = f.submit
        /     %p
      .large-8.columns#offers 
      .large-8.columns#needsList 
        %h3 Organizations
        %table.center
          %thead
            %tr
              %th Representative
              %th= sortable "name", "Organization Name"
              %th= sortable "description", "Organization Description"
              %th= sortable "status"
              %th= sortable "created_at", "Dated Added"
          %tbody#organizations
            - @organizations.each do |organization|
              %tr{class: "delete_organization_#{organization.id}"}
                %td 
                  -if organization.owner_id.present? && User.find_by_id(organization.owner_id).name.present?
                    = User.find_by_id(organization.owner_id).name
                  -elsif organization.owner_id.present?
                    = User.find_by_id(organization.owner_id).email
                  - else
                    unclaimed organization
                %td
                  = simple_format link_to word_wrap(organization.name ), organization_path(organization)
                %td
                  = simple_format word_wrap(organization.description.truncate(200))  
                %td
                  = form_for organization do |f|
                    Active #{f.check_box :status, class: 'checkable', remote: true}
                %td
                  = organization.created_at.strftime("%d %b. %Y") 
:javascript
  var doughnutData = [{value: #{@accepted}, color:"#88A4B3"},{ value : #{@pending}, color : "#B3AC88" },{value: #{@denied}, color: "#B3888E"}]
  
  var lineData = {labels: ["-3 week","-2 week","-1 week","this week"], datasets: [{fillColor: "#88b3ac", strokeColor: "#000)", pointColor: "#E2EAE9", pointStrokeColor: "#fff", data: [#{@three_weeks_ago},#{@two_weeks_ago},#{@one_week_ago},#{@this_week}]}]}
