= row :page_message do
  .columns.small-12
    %p Donate

= row :card,
  class: 'card-good' do
  .columns.small-12
    = row :organization_name do
      .columns.small-12
        %h1 This really doesn't make sense
        %h4 Organization 1

    = row :need_description do
      .columns.small-12
        %p Good description

= row :instructions do
  %p.instructions-step describe your good

= row :donate do
  .columns.small-12
    = text_field 'What would you like to donate?'

= row :instructions do
  %p.instructions-step include as many as 3 pictures

= row :instructions do
  %p.instructions-step include at least 1 picture

  .row
    .columns.small-12
      = button_tag :query, class: "btn" do
        Picture

    .row
      .columns.small-12
        = button_tag :query, class: "btn" do
          Add a Picture


    .row
    .columns.small-12
      = button_tag :query, class: "btn" do
        Donate





