.view-page
  .center  
    - if @needs.length == 0
      %h3 Your search has not returned any results. 
      %h3 Please try a different search.
      %h4 Tips and Suggestions:
      %p 
        %strong
          1. Make your search as simple as possible. 
      %p For example: instead of searching "brown chair", try just "chair".
      %p 
        %strong
          2. You can search organization names as well as need descriptions.
      .small-10.medium-6.large-4.small-centered.columns
        = form_tag needs_path, method: :get do
          .center
            = text_field_tag :query, params[:query], placeholder: "What would you like to donate?", class: "search", autofocus: true
          .center    
            = submit_tag "Search Needs", class: "button"
    - else
      .left.leftside
        - if params[:query].present?
          %h3 Results for: #{params[:query]}
        - else
          %h3 All Needs
        - if params[:city].present?
          %h3 City: #{params[:city]}
      .left.leftside
        = form_tag needs_path, method: :get do
          .center
            = text_field_tag :city, params[:city], placeholder: "Your City?", class: "search", autofocus: true
            = hidden_field_tag :query, params[:query]
          .center    
            = submit_tag "Filter by City", class: "button"
      .row
        .large-12.columns
          - @needs.each do |need|
            .large-3.medium-4.small-12.columns.left
              .card
                = link_to organization_path(need.organization.id) do
                  .org-panel
                    .center
                      %h6= need.organization.name

                = link_to need_path(need) do
                  .upper-panel
                    .center  
                      %h5= need.description.truncate(45)

                  / .needsModal.reveal-modal.small{"data-reveal" => ""}
                  /   .row.center
                  /     %a.close-reveal-modal ×
                  /     %br
                  /     %h3= "#{need.organization.name} needs"
                  /     %h5= need.description
                  /     %br
                  /     %br
                  /     %a.button{href: "#{new_offer_path(need)}"} Offer Donation

                = link_to new_offer_path(need) do
                  .panel
                    .center
                      %h6 Offer Donation

          = will_paginate @needs, renderer: FoundationPagination::Rails, outer_window: 0, inner_window: 1  
