%h2= "Hello representative for #{Need.find(@donation.need_id).organization.name},"
%br
%h3 A Connect 2 Good donor would like to fill one of your organization's needs!
%h3 The donor has provided these details regarding the offered item:
%h3= "#{@offer.description}"
=image_tag "#{@offer.image}"
%h3= "The donor looks forward to hearing from you via email. Their email address is: #{Individual.find(@donation.donor_id).email}"
%br
%h3 Thank you,
%h3 The Connect 2 Good Team
%br
= image_tag attachments['logo.png'].url
%br
%h4 For more information:
= link_to "About C2G", "www.connect2good.com/about"
\|
= link_to "FAQ", "www.connect2good.com/faq"
\| 
= link_to "Your Organization's Needs", "www.connect2good.com/organizations/#{@offer.organization.id}"