
%h1 Thank You!

%h3= "An email has been sent to #{@offer.organization.name}, informing them of your desire to make a donation."
%h3= "You should expect to receive an email response from a representative of #{@offer.organization.name} as soon as possible."
%h3= "#{@offer.organization.name} has been provided these details regarding your desire to donate:"
%h3= "Description: #{@offer.description}"
=image_tag "#{@offer.image}"
%h3= "Your email address: #{@offer.email}"
%h3= "Your name: #{@offer.name}"
%br
%h3 Thank you again,
%h4 The Connect 2 Good Team
%br
= image_tag attachments['logo.png'].url
%br
= link_to "FAQ", "www.connect2good.com/faq"
\| 
= link_to "Connect 2 Good", "www.connect2good.com"