.view-page#pageWrapper
  .row
    / Contact Details
    .large-12.columns
      %h3 Tell Us What You're Thinking
      %p
        We'd love to answer any questions or concerns that you may have, as well as receive feedback and suggestions!
      %h5.title Contact Connect 2 Good
      = form_for @contact_form do |f|
        = f.label "Your Name"
        = f.text_field :name, :required => false, :placeholder => "Jane Smith"
        = f.label "Your Email"
        = f.email_field :email, :required => false, :placeholder => "jsmith@example.com"
        = f.label "What's On Your Mind?"
        = f.text_area :message, :required => false
        = f.submit 'Submit'
