- content_for :sidebar do
  %p Picture
  %p= @individual.name
  %p= @individual.email
  %p
    = link_to 'Sale Items', individuals_sale_items_path,
      class: 'btn'
  %p
    = link_to 'Donations', individuals_donations_path,
      class: 'btn'
  %p
    = link_to 'Purchases', individuals_purchases_path,
      class: 'btn'

= dashboard_content(@view)