- content_for :sidebar do
  %p Picture
  %p= @individual.name
  %p= @individual.email
  %p
    = link_to 'Sale Items', '#'
  %p
    = link_to 'Donations', '#'
  %p
    = link_to 'Purchases', '#'

= content_view(@view)