.view-page
  %div
    .row.large-12.columns
      .large-5.columns
        %h3= "Hi, #{@user.name}!"
        %p Welcome to your user dashboard. Here you can view your current offers and manage your account.
        
        %h4 Edit Your Information
        / %p= @org.organization.id
        / - if @org
        /   - @org.each do |org|
        /     %a{href:"#{organization_path(org.id)}"}
        /       %h5= "View #{org.name}'s Dashboard" 
        /   .myModal.reveal-modal.medium{"data-reveal" => ""}
        .row
          = simple_form_for(current_user, :as => 'user', :url => registration_path(current_user), :html => { :method => :put }) do |f|
            = f.error_notification
            .form-inputs
              = f.input :name, :required => false
              = f.input :email, :required => true, :autofocus => true
              / - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              /   %p
              /     Currently waiting confirmation for: #{resource.unconfirmed_email}
              = f.input :password, :autocomplete => "off", :placeholder => "Leave blank if not changing password", :required => false
              = f.input :password_confirmation, :required => false
              = f.input :current_password, :placeholder => "Enter current password to confirm changes", :required => true
            .form-actions
              = f.button :submit, "Update"
          %h6
            Unhappy? #{link_to "Cancel my account", registration_path(current_user), :data => { :confirm => "Are you sure?" }, :method => :delete}

      .large-7.columns
        %h3 All offers
        %table
          %thead
            %tr
              %th= sortable "description", "Offer"
              %th= sortable "organization_id", "Organization"
              %th= sortable "created_at", "Date Offered"
          %tbody
            - @offers.each do |offer|
              %tr
                %td
                  = link_to offer.description, offer_path(offer) 
                %td
                  = link_to offer.organization.name, organization_path(offer.organization.id)
                %td
                  = offer.created_at.strftime("%d %b. %Y") 
        = link_to new_organization_path, class: 'button' do
          Create a New Organization