!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title Fullscreen Layout with Page Transitions
    %meta{content: "Fullscreen Layout with Page Transitions", name: "description"}/
    %meta{content: "fullscreen layout, boxes, responsive, page transitions, css transitions, jquery, portfolio, template", name: "keywords"}/
    %meta{content: "Codrops", name: "author"}/
    %link{href: "../favicon.ico", rel: "shortcut icon"}/
    %link{href: "css/component.css", rel: "stylesheet", type: "text/css"}/
    %script{src: "js/modernizr.custom.js"}
  %body
    .container
      #bl-main.bl-main
        %section
          .bl-box
            -# Donate ----------------------------------------------------------------
            %h2.bl-icon.bl-icon-gift.gray Donate
          .bl-content
            = row :page_message do
              %h2 Donation
            = row :instructions do
              .columns.small-12
                %p.instructions-step Step 1. Find a need in our community that you may be able to fill.
                = search_bar 'What would you like to donate?'
            .row
              .columns.small-12
                = button_tag :query, class: "btn" do
                  SEARCH NEEDS
          %span.bl-icon.bl-icon-close
        %section#bl-work-section
          .bl-box
            -# Sell --------------------------------------------------------------------
            %h2.bl-icon.bl-icon-sell.white Sell
          .bl-content
            = row :page_message do
              %h2.bright-white Sell
              %p.bright-white Sell unwanted goods, and donate up to 100% of the proceeds to the non-profit of your choice
            = row do
              .columns.small-12
                = link_to new_merchandise_path,
                  class: 'btn' do
                  Sell
          %span.bl-icon.bl-icon-close.bright-white
        %section
          .bl-box
            -# Shop --------------------------------------------------------------------
            %h2.bl-icon.bl-icon-shop.white Shop
          .bl-content
            = row :page_message do
              %h2 Shop
              %p Browse our marketplace. Portions of each purchase are donated to local nonprofits.
            = row do
              .columns.small-12
                = link_to merchandises_path,
                  class: 'btn' do
                  Shop Now
          %span.bl-icon.bl-icon-close 
        %section
          .bl-box
            -# Join -------------------------------------------------------------------
            %h2.bl-icon.bl-icon-join.gray Join
          .bl-content
            = row :page_message do
              .columns.small-12.text-center
                %h2 Join Our Community
            = row :user_type do
              .columns.small-6.text-center
                %h3.padded Are you an organization?
                =link_to new_organization_registration_path, class: "btn dark" do
                  Organization Sign Up
              .columns.small-6.text-center
                %h3.padded Are you an individual?
                =link_to new_individual_registration_path, class: "btn dark" do
                  Individual Sign Up
          %span.bl-icon.bl-icon-close 
        -#/ Panel items for the works
        #bl-panel-work-items.bl-panel-items
    / /container
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{src: "js/boxlayout.js"}
    :javascript
      $(function() {
        Boxlayout.init();
      });
