= row :page_message do
  .columns.small-12
    %p Buy

= row :card do
  .columns.small-12
    %p Good Description

= row :cc_name do
  = form_tag do
    .columns.small-12
      = text_field 'Name on credit card'

= row :cc_number do
  = form_tag do
    .columns.small-12
      = text_field 'Credit card number'

= row :cvc do
  = form_tag do
    .columns.small-3
      = text_field 'CVC'
    .columns.small-5
      =row :card do
        %p CVC pic

= row :expiration do
  = form_tag do
    .columns.small-6
      = text_field 'Month'
    .columns.small-6
      = text_field 'Year'

= row do
  .columns.small-12
    = button_tag :buy do
      Buy

