= form_for @offer, url: create_offer_path() do |f|
  - if signed_in?
    - donor_id = current_user.id
    %br    
    - if current_user.name.present?
      %h5= current_user.name
    %h5= current_user.email
    %h7
      if this is not you please #{link_to "sign out", destroy_session_path(:user), method: :delete}
    %p
    %h4= "Fill out this form and we will notify #{@need.organization.name} of your desire to donate!"
    = f.label :description
    = f.text_area :description, :placeholder => "what it is, how old it is, what condition it is in..."
    = f.label "Image (required)"
    = f.file_field :image
    = f.submit
    %br
    %br
  - else
    %br
    %h4= "Fill out this form and we will notify #{@need.organization.name} of your desire to donate!"
    - donor_id = ""
    = f.label :name
    = f.text_field :name, :placeholder => "leave blank if you prefer to remain anonymous"
    = f.label "Email (required)"
    = f.text_field :email, :placeholder => "#{@need.organization.name} will use this email to contact you"
    = f.label :description
    = f.text_area :description, :placeholder => "what it is, how old it is, what condition it is in..."
    = f.label "Image (required)"
    = f.file_field :image
    = f.submit "Submit"
    %br
    %p
    %h8
      have an account? #{link_to "sign in", user_session_path}
    %br
    %br

