.view-page
  .large-1.small-1.columns
    %p
      \
  .large-10.small-10.columns
    .row
      %p= link_to "Back", admin_path
      %h3 Offers List
      %table
        %thead
          %tr
            %th Item
            %th Org
            %th Donor
            %th Date Sent
            %th Status
            %th Update
        %tbody
          - @offers.each do |offer|
            %tr
              - if offer.need
                %td= link_to offer.need.description, offer_path(offer)
              %td= offer.organization.name
              %td= offer.email
              %td= offer.created_at.strftime("%d %b. %Y") 
              = form_for offer do |f|
                %td
                  = f.select :status, options_for_select(["pending","accepted","denied"], offer.status)
                %td
                  = f.submit value: "Update", class: "button"
  .large-1.small-1.columns
    %p
      \
