.view-page
  .large-3.small-1.columns
    %p
      \
  .large-6.small-10.columns
    %div
      .row
        %img{src: @offer.image}
        %br
        %br
        %h4
          #{@offer.description}
        %p
          Offer made: #{@offer.created_at.strftime("%d %b. %Y")}
        %p
          Donor name: #{@offer.name}
        %p
          Donor email: #{@offer.email}
        %br
        %p= link_to "Back", :back

  .large-3.small-1.columns
    %p
      \

