= row :page_message do
  .columns.small-12
    %p Search Goods

= row :search do
  = form_tag needs_path, method: :get do
    .row.collapse
      .columns.small-10
        = text_field_tag :query,
          params[:query],
          placeholder: "What would you like to buy?",
          class: 'text-field text-field-search'
      .columns.small-2
        = button_tag :query, class: "btn btn-search postfix" do
          %icon{ class: 'fa fa-search' }
    .row
      .columns.small-12
        = button_tag :query, class: "btn" do
          Search Goods

