.view-page
  %div
    .row.large-12.columns
      .large-4.columns
        %h3= @organization.name
        %h6#street= @organization.street
        %h6#city #{@organization.city}, #{@organization.state} #{@organization.zip}
        %h3#image
          - if @organization.image.present?
            = image_tag @organization.image
          - else
            %img{alt: "User Profile", src: "http://dummyimage.com/250x300&text=Add a profile picture!"}/
        %p#description= @organization.description
        %p#email
          %strong

        = form_for [@organization, @need] do |f|     
          %div#need_form
            %h4 List a new need:
            = f.label :description
            = f.text_area :description
            = f.submit

        %hr

        .org-edit
          = render 'form'
          .button Edit Info
        / need to add additional routes for this link
        .row.large-12.columns.happy
          %h6#need_count #{ link_to "total needs: #{@organization.needs.length}", organization_path(params[:id]) }
          %span.large3.columns
            %h7 
              total needs active: 
              %span.pending-num= @active
              %br
              %br
        .row.happy#numbers
          %div &nbsp;
          .large-12.columns
            %h6 #{ link_to "total offers: #{@organization.offers.length}", organization_offers_path(params[:id]), id: 'offer_index', remote: true }
            %span.large-6.columns
              %h6
                %span.pending-color pending: 
                %span.pending-num= @pending
              %h6
                %span.denied-color declined: 
                %span.denied-num= @denied
              %h6
                %span.accepted-color accepted:
                %span.accepted-num= @accepted
          .row
            %canvas#myChart


      .large-8.columns#offers 
      .large-8.columns#needsList 
        %h3 Needs
        %table.center
          %thead
            %tr
              %th 
                = sortable "description", "Need Description"
              %th 
                = sortable "status"  
              %th 
                = sortable "created_at","Date Created"
              %th Edit
              %th Delete
          %tbody#needs
            - @org_sorted.each do |need|
              = render partial: 'need', object: need 
%script#js{type: "text/javascript"}
  var data = [{value: #{@accepted}, color:"#88A4B3"},{ value : #{@pending}, color : "#B3AC88" },{value: #{@denied}, color: "#B3888E"}]

