/ .row.large-12.columns.happy
/   %h6#need_count #{ link_to "total needs: #{@organization.needs.length}", organization_path(params[:id]) }
/   %span.large3.columns
/     %h7 
/       total needs active: 
/       %span.pending-num= @active
/       %br
/       %br
.row.happy#numbers
  %div &nbsp;
  .medium-6.columns
    %h6 #{ link_to "total offers: #{@organization.offers.length}", organization_offers_path(params[:id]), id: 'offer_index', remote: true }
    %span.large3.columns
      %h7 
        %span.pending-color pending: 
        %span.pending-num= @pending
        %br/
      %h7
        %span.denied-color declined: 
        %span.denied-num= @denied
        %br/
      %h7  
        %span.accepted-color accepted:
        %span.accepted-num= @accepted
  .medium-6.columns.left
    %canvas#myChart{height: "200", width: "200"}
%script#js{type: "text/javascript"}
  var data = [{value: #{@accepted}, color:"#88A4B3"},{ value : #{@pending}, color : "#B3AC88" },{value: #{@denied}, color: "#B3888E"}]