- if signed_in? && (current_user == @organization.owner) || (current_user.try(:admin?))
  = render "home"
- else
  .view-page
    %div
      .row
        .large-4.columns.orgfix.center
          %h3= @organization.name
          %h6= @organization.street
          %h6 #{@organization.city}, #{@organization.state} #{@organization.zip}
          - if @organization.image.present?
            = image_tag @organization.image
          - else
            %img{alt: "User Profile", src: "http://dummyimage.com/250x300&text=Add a profile picture!"}/
          %p
          .row
            .orgdesc
              %p= @organization.description
              
              / need to add additional routes for this link
        .large-8.columns
          .row.orgneeds
            .center
              %h3 Needs
            - @needs.where(status: true).each do |need|
              .large-4.medium-3.small-12.columns.left
                .card
                  .upper-panel
                    .center  
                      %h5= need.description.truncate(45)
                    .needsModal.reveal-modal.small{"data-reveal" => ""}
                      .row.center
                        %a.close-reveal-modal ×
                        %br
                        %h3= "#{need.organization.name} needs"
                        %h5= need.description
                        %br
                        %br
                        %a.button{href: "#{new_offer_path(need)}"} Offer Donation
                  = link_to new_offer_path(need_id: need.id) do
                    .panel
                      .center
                        %h6 Offer Donation
          = will_paginate @needs, renderer: FoundationPagination::Rails, outer_window: 0, inner_window: 1  