%h2 Transactions
%table
  %tr
    %th Beneficiary
    %th Buyer
    %th Seller
    %th Donor
    %th Good ID
  -@transactions.each do |t|
    %tr
      %td= t.role_name("beneficiary")
      %td= t.role_name("buyer")
      %td= t.role_name("seller")
      %td= t.role_name("donor")
      %td= t.good_id
      %td= t.status
