= m :footer do
  = row :nav do
    %nav.columns.small-8.small-centered
      %ul.text-center
        %li
          = link_to 'About', about_path
        %li
          = link_to 'Join', join_path
        %li
          = link_to 'Contact', '#'
        %li
          = link_to 'FAQ', '#'
