%nav.top-bar
  %ul.title-area
    -# Title Area
    %li.name
      %h1
        =link_to root_path do
          .logo
            =image_tag "horizontal-color-on-transparent.png"

    -# Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    %li.toggle-topbar
      = link_to '#' do
        %span Menu
        %i{ class: 'fa fa-chevron-down' }

  %section.top-bar-section

    -# Right Nav Section
    %ul.right
      -if organization_signed_in?
        %li
          = link_to 'My Account', '#'
        %li
          = link_to 'Edit Profile', edit_organization_registration_path
        %li
          = link_to 'Sign out', destroy_organization_session_path, method: :delete

      -elsif individual_signed_in?
        %li
          = link_to 'My Account', '#'
        %li
          = link_to 'Edit Profile', edit_individual_registration_path
        %li
          = link_to 'Sign out', destroy_individual_session_path, method: :delete

      -else
        %li
          =link_to 'Organization Sign In', new_organization_session_path
        %li
          =link_to 'Individual Sign In', new_individual_session_path
        %li
          =link_to 'Sign up', join_path


