%nav.top-bar{"data-topbar" => ""}
  %section.left-small
    %a.left-off-canvas-toggle.menu-icon
      %span.left-icon
  / %section.middle.tab-bar-section
  %ul.title-area
    %li.name
      %h1
        %a{href: root_path}
          Connect
          = image_tag('isolated-glyph-white-on-transparent-sm.png')
          Good
    %li.toggle-topbar
      %a{href: "#"} Search
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li.has-form
        = form_tag needs_path, method: :get do
          .row.collapse
            .large-8.small-9.columns
              = text_field_tag :query, params[:query], placeholder: "Search Needs", class: "header-search"
            .large-4.small-3.columns
              = submit_tag "Search", class: "button expand"
%aside.left-off-canvas-menu
  %ul.off-canvas-list
    %li
      .oc-head 
        Connect
        = image_tag('isolated-glyph-white-on-transparent-sm.png')
        Good
    %li
      %label.cat Organizations
    %li
      %a{href: "#{organizations_path}"} View All
    - if current_user  
      - orgs.each do |org|
        - if current_user.id == org.owner_id
          %li= link_to " View #{org.name}'s dash", organization_path(org.id) 
    %li
      %label.cat Needs
    %li
      %a{href: "#{needs_path}"} View All
    %li
      %label.cat User Account
      - if current_user
        %li= link_to "Account", user_path(current_user)
        %li= link_to "Sign out", destroy_user_session_path, :method => :delete
      - else
        %li= link_to "Sign in", new_user_session_path
        %li= link_to "Join", new_user_registration_path
    %li
      %label.cat Connect 2 Info
    %li= link_to "Let's Connect to Good", lets_connect_to_good_path
    %li= link_to "About", about_path
    %li= link_to "FAQ", faq_path
    %li= link_to "Contact", contact_path
    - if current_user.try(:admin?)
      %li
        %label.cat Administration
      %li  
        %a{:href => "#{admin_path}"} Admin Profile
    